@import './common';
@import './example';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #0f22cf;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.search-form{
        align-items: center;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
}
.search-form input{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.search-button{
    position: relative;
    margin-left: -44px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    &:hover,
    &:focus {
            background-color: #1976d2;
            box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
        }
}
.info{
    display: flex;
    font-size: 12px;
    padding-right: 15px;
}
.info-item{
        width: 100px;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-card{
    width: 400px;
    height: 300px;
    margin: 10px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.footer{
    background-color: #0f22cf;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    margin-top: auto;
}
.load-more{
    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: .06em;
        color: #fff;
        cursor: pointer;
        background-color: #2196f3;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border-radius: 4px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                background-color: #1976d2;
                box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);} 
} 
